In [67]:
import tensorflow as tf
import pickle
from tensorflow.keras.models import load_model
import pandas as pd
import numpy as np

In [68]:
model = load_model('model.h5')

with open('label_encoder.pkl','rb') as file:
    label_encoder = pickle.load(file)
    
with open('Standard_Scaler.pkl','rb') as file:
    Standard_Scaler = pickle.load(file)

with open('onehot_Encoder.pkl','rb') as file:
    onehot_Encoder = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

FileNotFoundError: [Errno 2] No such file or directory: 'onehot_Encoder.pkl'

In [ ]:
input_data = {
  "CreditScore": 619,
  "Geography": "France",
  "Gender": "Female",
  "Age": 42,
  "Tenure": 2,
  "Balance": 0.00,
  "NumOfProducts": 1,
  "HasCrCard": 1,
  "IsActiveMember": 1,
  "EstimatedSalary": 1348.88
}

In [ ]:
onehot_encoded_values = onehot_Encoder.transform([[input_data['Geography']]]).toarray()
onehot_df = pd.DataFrame(onehot_encoded_values, columns =onehot_Encoder.get_feature_names_out(['Geography']))

In [ ]:
onehot_Encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [ ]:
onehot_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [ ]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.0,1,1,1,1348.88

In [ ]:
input_df['Gender'] = label_encoder.transform(input_df['Gender'])

In [ ]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.0,1,1,1,1348.88

In [ ]:
input_df = pd.concat([input_df.drop('Geography',axis = 1),onehot_df],axis = 1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.0,1,1,1,1348.88,1.0,0.0,0.0

In [ ]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.0,1,1,1,1348.88,1.0,0.0,0.0

In [ ]:
input_scaled = Standard_Scaler.transform(input_df)
input_scaled

array([[-0.33880827, -1.09499335,  0.29493847, -1.04241787, -1.21847056,
        -0.91668767,  0.64920267,  0.97481699, -1.72271319,  1.00150113,
        -0.57946723, -0.57638802]])

In [ ]:
prediction = model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 376ms/step

In [ ]:
prediction[0][0]

np.float32(0.34529516)

In [ ]:
if prediction[0][0] > 0.5:
    print("The customer is likely to churn")
else:
    print("The customer is not likely to churn")

The customer is not likely to churn